<html>
<div>
    <% include head.html %> 
</div>
<body>
    <div class="content">
    <div class="p-3 mb-2 bg-light text-dark">
    <h1 class="mb-4">SMS-Platform</h1>
            
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link" href="/">Envoie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/history">Historique</a>
        </li>
    </ul>

    <table class="mt-4 table table-striped">
        <tr>
            <th>Id</th>
            <th>Numéros</th> 
            <th>Message</th>
            <th>Date</th>
        </tr>
            <% results.forEach(function (result) {%>
                <tr>
                    <td><%= result.id %></td>
                    <td><%= result.numero %></td>
                    <td><%= result.texte %></td>
                    <td><%= result.date %></td>
                </tr>
            <% })%>
    </table>
    </div>
    </div>
</body>
</html>