<html>
<head>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <title>SMS-Platform</title>
</head>
<body>
    <div class="content">
    <h1>SMS-Platform</h1>
            
    <ul id="menu_horizontal">
        <li><a href="/">Envoie</a></li>
        <li><a href="/history">Historique</a></li>
    </ul>
    <table>
        <tr>
            <th>Id</th>
            <th>Numéros</th> 
            <th>Message</th>
        </tr>
            <% results.forEach(function (result) {%>
                <tr>
                    <td><%= result.id %></td>
                    <td><%= result.numero %></td>
                    <td><%= result.texte %></td>
                </tr>
            <% })%>
    </table>
    </div>
</body>
</html>