<html>
<div>
    <% include head.html %> 
</div>
<body>
    <% include menu.html %>
    <table class="mt-4 table table-striped">
        <tr>
            <th>Id</th>
            <th>Numéros</th> 
            <th>Message</th>
            <th>Date</th>
        </tr>
            <% results.forEach(function (result) {%>
                <tr>
                    <td><%= result.id %></td>
                    <td><%= result.numero %></td>
                    <td><%= result.texte %></td>
                    <td><%= result.date %></td>
                </tr>
            <% })%>
    </table>
    </div>
    </div>
</body>
</html>