<html>
<% include head.html %>
<body>
    <div class="container-fluid">
        
        <div class="row">
            <% include menu.html %>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="position-relative">
                    <textarea id="message" name="message" placeholder="Message à transmettre" class="form-control form-textarea"></textarea>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="position-relative">
                    <textarea id="numbers" name="numbers" placeholder="Liste des numéros" class="form-control form-textarea"></textarea>
                </div>
            </div>
        </div>
        <button type="button" id="button" class="btn btn-primary mt-3">Envoyer</button> 
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <script type="text/javascript" src="/main.js"></script>
    </div>
</div>
</body>
</html>