<html>
<% include head.html %>
<body>
    <% include menu.html %>
    <div class="position-relative">
    <textarea id="message" class="my-4" name="message" rows="10" cols="50" placeholder="Message à transmettre"></textarea>
    </div>
    <div class="position-relative">
    <textarea id="numbers" class="mb-4" name="numbers" rows="10" cols="50" placeholder="Liste des numéros"></textarea>
    </div>
    <button type="button" id="button" class="btn btn-info">Envoyer</button> 
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/main.js"></script>
    </div>
    </div>
</body>
</html>